body {
    background: darkgrey;
    text-align: center;
}

#mini {
    height: 160px;

}

#mini img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: inline;
    vertical-align: top;
}

#showImage {
    background: black;
}

#showImage img {
    width: 500px;
    height: 500px;
}

.hovered {
    border: 1px solid #0f0;
    width: auto !important;
    height: 150px !important;
}